<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ block_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>{{ block_name }}</h1>
    <div id="pieChart"></div>
    <div id="barGraph"></div>
    <div id="lineGraph"></div>

    <script>
        var pieData = [{
            labels: ['Mind Spark', 'Hacktober fest', 'Code Quest'],
            values: [50, 20, 30],
            type: 'pie'
        }];

        var pieLayout = {
            title: 'Pie Chart'
        };

        var barData = [{
            x: ['2021', '2022', '2023'],
            y: [0, 7000, 15000],
            type: 'bar'
        }];

        var barLayout = {
            title: 'Bar Graph',
            xaxis: { title: 'Year' },
            yaxis: { title: 'Money sponsored' }
        };

        var lineData = [{
            x: [2019, 2020, 2021, 2022, 2023],
            y: [6, 8, 0, 8, 8, 10],
            type: 'scatter'
        }];

        var lineLayout = {
            title: 'Feedback and active participation',
            xaxis: { title: 'Year' },
            yaxis: { title: 'Response rate' }
        };

        Plotly.newPlot('pieChart', pieData, pieLayout);
        Plotly.newPlot('barGraph', barData, barLayout);
        Plotly.newPlot('lineGraph', lineData, lineLayout);
    </script>
</body>
</html>
